<div class="container mt-5 text-center">
  <% if @include %>
    <% if @english_word %>
      <h1>gg wp</h1>
      <p>Your acore is <%= @scores %>!</p>
    <% else %>
      <h1>Gl in the next one</h1>
      <p><%= @word %> is not an English word.</p>
    <% end %>
  <% else %>
    <h1>RIP</h1>
    <p><%= @word %> your word is invalid.</p>
  <% end %>

  <%= link_to "Play again!", new_path, :class => "btn btn-success"%>
</div>
